
#uniswap-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#uniswap-form .form-group label {
  font-weight: bold;
  margin-bottom: 10px;
}

#swap-amount {
  width: 200px;
  height: 40px;
}

#swap-btn {
  border-radius: 50px;
  margin-top: 30px;
  background: rgb(244, 24, 47);
}

#uniswap-convert-section .shardus-logo {
  width: 60px;
}

#uniswap-convert-section .btn-primary {
  background: rgb(244, 24, 47);
  border: none;
}

#uniswap-convert-section input[type=text]:focus {
  height: 40px;
}

#buy-btn, #sell-btn {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: all 300ms ease 0s;
}

#unlock-token-btn {
    display: none;
    width: 70px;
    font-size: 9px;
    text-transform: capitalize;
    background: #aaa;
    text-align: center;
}

.alert {
  display: none
}

#exchange-info {
  width: 100%;
}

.modal-header {
  background: rgb(244, 24, 47);
}

.modal-title {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.modal-body button {
    border-radius: 0px 10px 10px 0px;
}

.modal-footer button {
  border-radius: 5px;
}

#convert-btn:hover {
  background-color: rgb(244, 24, 47)!important;
  border: none!important;
}
